include LICENSE
recursive-include mdanalysis_sphinx_theme *
recursive-include branding *
include setup.cfg
include versioneer.py
include mdanalysis_sphinx_theme/_version.py
include AUTHORS.md CHANGELOG.md README.md
